
.navdiv{
    height: 100px;
}.container{
    --leftPanelWidth: 0px;
    --rightSidebarWidth: 0px;
    --topNavigationHeight: 56px;
    --leftSidebarWidth: 240px;
    --leftSidebarFlyoutWidth: 240px;
    color: var(--ds-text, #172B4D);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857142857143;
    text-decoration-skip-ink: auto;
    /* margin: 0; */
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 900px;
    /* border: 1px solid red; */
    margin-left: 200px;
}

.second-div{
    --leftPanelWidth: 0px;
    --rightSidebarWidth: 0px;
    --topNavigationHeight: 56px;
    --leftSidebarWidth: 240px;
    --leftSidebarFlyoutWidth: 240px;
    color: var(--ds-text, #172B4D);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857142857143;
    text-decoration-skip-ink: auto;
    margin: 0;
    padding: 0;
    /* border: 1px solid goldenrod; */
    height: 70px;
}
.third-div{

--leftPanelWidth: 0px;
--rightSidebarWidth: 0px;
--topNavigationHeight: 56px;
/* --leftSidebarWidth: 240px; */
--leftSidebarFlyoutWidth: 240px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.42857142857143;
text-decoration-skip-ink: auto;
padding: 0;
-webkit-box-align: center;
-webkit-box-pack: justify;
justify-content: space-between;
/* border: 1px solid black; */
height:70px;
/* border: 1px solid green; */
} 

.btn, .btn1{
    -webkit-box-align: baseline;
    align-items: baseline;
    box-sizing: border-box;
    display: inline-flex;
    font-size: inherit;
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    max-width: 100%;
    position: relative;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    height: 2.28571em;
    line-height: 2.28571em;
    vertical-align: middle;
    width: auto;
    -webkit-box-pack: center;
    justify-content: center;
    color: var(--ds-text, #42526E) !important;
    border-width: 0px;
    border-radius: 3px;
    text-decoration: none;
    /* transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s; */
    background: var(--ds-background-neutral, rgba(9, 30, 66, 0.04));
    padding: 0px 10px;
    margin-left: 30px;
    margin-top: 10px;
    
}
.btn1{
    color: var(--ds-text-inverse, #FFFFFF) !important;
    background:  green;
}

